.bingkai{
    position: absolute;
    top: 42%;
    left: 9%;
    width: 450px;
    height: 540px;
    border: 10px solid #F47522;
    border-style: solid;
}

.bingkai_2{
    position: absolute;
    top: 195%;
    left: 9%;
    width: 450px;
    height: 540px;
    border: 10px solid #19345E;
    border-style: solid;
}

.bingkai_3{
    position: absolute;
    top: 340%;
    left: 9%;
    width: 450px;
    height: 540px;
    border: 10px solid #F47522;
    border-style: solid;
}

.bawah{
    border: 2px solid #ffffff;
    background-color: #19345E;
    height: 120%;
    padding: 20px 5%;
    font-size: 1px;
    margin: 0px;
}

.copy{
    top: 485%;
    left: 75%;
    position: absolute;
    color: #ffffff;
}

.icon{
    position: absolute;
    top: 485%;
    left: 40%;
}