body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Public Sans", sans-serif;
    /* background-color: #edf6ff; */
    /* background-repeat: no-repeat; */
    /* background-position: 0%; */
    position: relative;
}

.tulisan {
    color: #19345e;
}

.bg {
    background-color: #edf6ff;
    background-repeat: no-repeat;
    background-position: 0%;
    width: 100%;
    height: 734px;
}

.bulet {
    margin-top: 151px;
    /* left: 10px; */
    /* margin-left: 190px; */
    align-items: center;
    justify-content: center;
    /* margin-left: 160px; */
    width: 420px;
    height: 420px;
    background: transparent;
    position: absolute;
}

.kata-kata {
    margin-top: 235px;
    /* margin-right: 160px; */
    /* background-color: aqua; */
    float: left;
}

.tombol {
    background-color: #f47522;
    /* padding: 15px; */
    width: 230px;
    border-radius: 20px;
    border: none;
    color: white;
}

.tombol:hover {
    background-color: #f1690e;
}

.tombol img {
    width: 20px;
    height: 20px;
}

.oren {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    align-items: center;
}

.oren img {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    padding-top: 3px;
    /* padding: auto; */
    /* padding: 5px; */
}

.kotal-kecil {
    margin-right: 30px;
}

.bg-about {
    width: 100%;
    height: 450px;
}

.tigaorang {
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: 20px;
    padding: 1px;
    right: 25px;
}

.cewe-kotak {
    /* left: 180px; */
    width: 225px;
    height: 265px;
    /* margin-bottom: 205px; */
    /* top: 163px; */
    /* position: relative; */
}

.bingkai {
    border: 10px solid #f47522;
    width: 225px;
    height: 265px;
    /* z-index: -1; */
    position: absolute;
}

.bingkai-tengah {
    border: 10px solid #19345e;
    width: 225px;
    height: 265px;
    /* margin-left: 50px; */
    position: absolute;
}

.kotak-gambar1 {
    margin-top: 100px;
}

.kotak-gambar2 {
    margin-top: 100px;
}

.profesi {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 205px;
}

.logo-footer img {
    margin-top: 25px;
    height: 80px;
    width: 150px;
}

.copyright p {
    margin-top: 60px;
    margin-left: 150px;
}

/* Responsive tablet  */

@media (max-width: 768px) {
    .kata-kata {
        margin-top: 235px;
        margin-left: 65px;
        float: right;
        /* background-color: aqua; */
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .bulet img {
        margin-top: 11px;
        /* margin-right: 65px; */
        align-items: center;
        justify-content: center;
        /* margin-left: 160px; */
        width: 388px;
        height: 420px;
        background: transparent;
        position: absolute;
    }

    button {
        width: 25px;
        height: 35px;
        font-size: 20px;
    }

    .ourteam {
        margin-top: 70px;
    }

    .ornamen {
        display: none;
    }

    .latest-blogs {
        margin-top: 900px;
    }

    .latest-row {
        justify-content: center;
        display: grid;
    }
    .sentence-blogs {
        margin-top: 220px;
    }

    .date-lary {
        float: right;
    }

    .a-blogs {
        float: right;
    }

    .tigaorang {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 50px;
        padding: 1px;
        right: 25px;
    }

    .bungkus {
        margin-right: 250px;
    }

    .kotak-gambar-tengah {
        margin-top: 85px;
    }

    .footer {
        margin-top: 1285px;
    }

    .kotak-kecil {
        font-size: 15px;
    }
}

/* Responsive mobile  */

@media screen and (max-width: 425px) {
    body {
        width: 100%;
    }

    .kata-kata {
        margin-top: 435px;
        /* margin-right: 160px; */
        /* background-color: aqua; */
        float: left;
        font-size: 20px;
    }

    .bulet {
        margin-top: 11px;
        /* margin-right: 65px; */
        align-items: center;
        justify-content: center;
        /* margin-left: 160px; */
        width: 388px;
        height: 420px;
        background: transparent;
        position: absolute;
    }

    button {
        width: 25px;
        height: 35px;
        font-size: 20px;
        margin-bottom: 90px;
    }

    .bg {
        height: 899px;
    }

    .kotal-kecil {
        font-size: 15px;
    }

    .tigaorang {
        width: 100%;
        height: 420px;
        position: absolute;
        margin-bottom: 200px;
    }

    .bg-tentang {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: contents;
    }

    .latest-blogs {
        margin-top: 900px;
    }

    .latest-row {
        justify-content: center;
        display: grid;
        /* margin-right: 50px; */
    }

    .sentence-blogs {
        margin-top: 220px;
    }

    .date-lary {
        float: right;
    }

    .bungkus {
        margin-left: 43px;
        bottom: -850px;
    }

    .kotak-kecil {
        font-size: 13px;
    }

    .row .bungkus {
        margin-left: 50px;
    }
}
